/* base.scss */

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  color: $interstellarwhite;
  font-size: 16px;

  -webkit-font-smoothing: antialiased;

  //-webkit-text-stroke: 0.5px;

}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-family: 'albrecht-30', sans-serif;
  overflow-x: hidden;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


body {
    background: black;
    @include transition( opacity 1s ease );
}

body.loading {
    opacity: 0;
}

h1 {
    margin: 0;
}

p, h2, h3, h4, ul {
    margin: 0;
    margin-bottom: 50px;
    font-weight: normal;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: $interstellarwhite;
}

img {
    width: 100%;
    height: auto;
}

.map-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    //visibility: hidden;
    opacity: 0;

    @include transition( opacity 1s ease );

    z-index: 0;

    &.active {
        opacity: 1;
        //visibility: visible;
    }

}


.map-canvas {
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include radial-gradient(rgba(0,0,0,0), rgba(0,0,0,1) );
}




header {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    padding: 50px 120px;

    z-index: 3;

    h1 {
        margin-bottom: 10px;
    }

    .logo {
        height: 40px;
    }

    .english {
        float: left;
    }

    img {
        height: 100%;
        width: auto;
    }

    .hebrew {
        float: right;
    }

    svg {
        fill: white;
        height: 100%;
    }
}



.top-backdrop {
    height: 200px;
    top: 0;
    @include linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0) );
}

.bottom-backdrop {
    height: 100px;
    bottom: 0;
    @include linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.25));
}

.top-backdrop, .bottom-backdrop {
    z-index: 2;
    position: fixed;
    left: 0;
    right: 0;
    background-color: transparent;

    pointer-events: none;
}

.arrow {
    width: 100%;
    position: relative;
}

.arrow__body {
    background-color: $interstellarwhite;
    height: 2px;
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 4px);
}

.arrow__head {
    color: $interstellarwhite;
    top: 4px;
    font-size: 10px;
    /* height: 5px;
    width: 10px; */
    position: absolute;
    right: 0;
}






/* CONTENT */



.wrapper {
    position: relative;
    z-index: 1;
    padding: 120px;
    padding-bottom: 50px;

    @include transform( translate3d(0,0,0) );
    @include backface-visibility( 'hidden' );
}

section {
    margin-bottom: 50px;
    margin-top: 50px;
}

p, ul {
    font-size: 50px;
}



.intro {
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: 'albrecht-30';
}



.participants {

    ul {
        padding: 0;
        font-family: 'albrecht-50';
        list-style: none;
    }

    li {
        list-style: none;
        display: block;
        margin-bottom: 50px;
        > a {
            display: inline-block;
            text-decoration: none;
            color: $interstellarwhite;
            @include transition( all 0.2s ease );

            &:before {
                content: '';
                display: inline-block;
                width: 16px;
                height: 16px;
                background: $interstellarwhite;
                border-radius: 50%;
                vertical-align: middle;
                margin-right: 15px;
                margin-top: -6px;

                @include transform( scale(0.8) );
            }

            &:hover {

                color: white;

                &:before {
                    @include animation(pulse 0.5s ease infinite alternate);
                }



            }
        }

        &.center {
            text-align: center;
        }

        &.right {
            text-align: right;
        }
    }
}


@include keyframes(pulse) {
  from {
    @include transform(scale(0.8));
  }
  to {
    @include transform(scale(1));
  }
}


h1 {

    /*
    font-size: 400px;
    line-height: 300px;
    font-weight: bold;
    text-transform: uppercase;

    */
}

h2 {
    //font-size: 60px;
}

.intro-text {
    //font-size: 60px;
}


.download {
    margin-bottom: 100px;
    a {
        border-bottom: 1px solid $interstellarwhite;

        @include transition(all 0.2s ease );
        &:hover {
            color: white;
            border-bottom: 1px solid white;
        }
    }
}






.fabercastell-logo {
    img {
        height: 48px;
    }

}

.nuernberg-logo {
    img {
        height: 48px;
    }

}

.woehrl-logo {
    img {
        height: 29px;
    }

}

.zerbock-logo {
    img {
        height: 43px;
    }

}

.foerderbank-logo {
    img {
        height: 34px;
    }

}

.grundig-logo {
    img {
        height: 15px;
    }

}

.sattler_und_poetzsch-logo {

    img {
        height: 17px;
    }

}

.unfun-logo {
    img {
        height: 21px;
    }
}

.supporters {

    h2 {
        font-family: 'albrecht-60';
        margin-bottom: 20px;
    }

    > div {
        width: 100%;
    }

    img {
        width: auto;
    }

    a {
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }

    .link-wrapper {
        margin-bottom: 20px;
    }
}



@media screen and (min-width: 640px ){

    .supporters {

        a {

            position: relative;
            width: 50%;
            float: left;
            height: 100%;

            opacity: 0.75;
            @include transition( opacity 0.2s ease );

            &:hover {
                opacity: 1;
            }
        }

        img {
            position: absolute;
            bottom: 0;
        }

        .foerderbank-logo, .grundig-logo, .sattler_und_poetzsch-logo {
            width: 33.3%;
        }


        .link-wrapper {
            height: 50px;
            margin-bottom: 50px;
        }
    }

}

 @media screen and (min-width: 900px ){

    .supporters {
        > div {
            width: 50%;
            float: left;
        }


        .thanks {
            width: 70%;
        }

        .credits {
            width: 30%;
            text-align: right;

            a {
                float: right;
            }
        }

        .unfun-logo img {
            left: auto;
            right: 0;
        }
    }
 }




 @media screen and (min-width: 1500px ){

    .supporters {

        .permanent {
            width: 27%;
        }

        .further {
            width: 22%;
        }

        .thanks {
            width: 42%;
        }

        .credits {
            text-align: right;

            a {
                float: right;
            }
            width: 9%;
        }

        .woehrl-logo {
            width: 60%;
        }
        .zerbock-logo {
            width: 40%;
        }

        .foerderbank-logo {
            width: 30%;
        }

        .grundig-logo {
            width: 31%;
        }

        .sattler_und_poetzsch-logo {
            width: 38%;
        }



    }


 }







/* SIDEBAR */


.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 120px;
    z-index: 4;
}

.kv-logo {
    position: absolute;
    bottom: 60px;
    left: 15px;
    width: 65px;
    opacity: 0.75;
}

.kv-logo-h {
    display: none;
}

.display {
    font-family: 'albrecht-60';
    position: absolute;
    top: 25px;
    left: 0;
    z-index: 2;
    left: 25px;
    width: 170px;

    @include transform( rotate(-90deg) translateX(-100%) );
    @include transform-origin(0 0);
}

.home-link {
    font-family: 'albrecht-60';
    display: block;
    text-decoration: none;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 25px;
    color: rgba(255,255,255,0.75);
    @include transform( rotate(-90deg) translateX(-50%) );
    @include transform-origin(0 0);
}













@media screen and (max-width: 1440px){
/*
.fabercastell-logo {
    img {
        height: 43px;
    }

}

.nuernberg-logo {
    img {
        height: 43px;
    }

}

.woehrl-logo {
    img {
        height: 33px;
    }

}

.zerbock-logo {
    img {
        height: 43px;
    }

}

.foerderbank-logo {
    img {
        height: 44px;
    }

}

.unfun-logo {
    img {
        left: auto;
        right: 0;
        height: 30px;
    }
}
 */

}



@media screen and (max-width: 1180px){

   /*  .supporters {
        > div {
            position: relative;
            float: left;
            width: 50%;
            margin-bottom: 90px;
            height: 100px;
        }

        .credits {
            width: 50%;
            text-align: left;
        }

        .thanks {
            width: 50%;
        }
    }

    .unfun-logo {
        img {
            left: 0;
            right: auto;
            height: 30px;
        }
    } */

}




@media screen and (max-width: 900px){

    /* .supporters {
        a {
            height: auto;
        }

        h2 {
            margin-bottom: 25px;
        }
        > div {
            float: none;
            height: auto;
            width: auto;
        }

        .link-wrapper {
            position: static;
            height: auto;
        }

        img {
            position: static;
        }
    } */

}









@media screen and (max-width: 670px){


    p, ul {
        font-size: 25px;
    }


    .wrapper {
        padding: 20px;
    }


    header {
        position: relative;
        padding: 50px 20px;
    }


    .sidebar {
        position: relative;
        height: auto;
        width: auto;
        padding: 20px;
    }

    .display {
        width: auto;
        position: static;
        @include transform( none );
    }

    .home-link {
        display: none;
    }

    .kv-logo {
        display: none;
    }

    .kv-logo-h {
        position: relative;
        display: block;
        margin-bottom: 50px;

        img {
            max-width: 200px;
        }
    }

   /*  .supporters {
        margin-bottom: 0;

        .thanks {
            width: 100%;
        }
        .credits {
            width: 100%;
            margin-bottom: 50px;
        }
    } */



}






/* HELPERS */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}